@import 'global';
@import 'settings/settings';
// @import 'typography/typography';
@import 'foundation';

@include foundation-everything;
// @include foundation-menu;
// @include foundation-flex-classes;
// @include foundation-flex-grid;

*,
*::before,
*::after {
  box-sizing: border-box;
}

.collection {
  ul {
    position: relative;
    list-style: none;
  }

  li {
    opacity: 0;
    transition: opacity 1000ms ease-in-out;

    &.loaded {
      opacity: 1;
    }
  }

  li > img {
    position: absolute;
  }
}